<ng-container class="container">
    <mat-card>
        <div class="flexCon">
            <label class="testAlign">Your Bag</label>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <mat-card>
                    <div class="row">
                        <div class="col-lg-10">
                            <mat-card>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="layoutRow">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/tr:w-960,/pub/media/catalog/product/6/5/655f498NF_ADIAA00008698_1.jpg?rnd=20200526195200"
                                                        class="imgRow">
                                                </div>
                                                <div class="col-lg-5 testAlign">
                                                    <p>Shoes</p>
                                                    <p class="">Size 10
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <del>1999/-</del>
                                                            <p class="price">999/-</p>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <p class="priceDis">10% OFF</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card>
                    <label class="orderSum">Order Summary</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="orderSumDetail">Subtotal</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="orderSumDetail">$999</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="orderSumDetail">Shipping Charges</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="orderSumDetail">$10</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="orderSumDetail">Final Total</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="orderSumDetail">$1009</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button mat-stroked-button color="primary" style="    margin-left: 6rem;
                            margin-top: 2rem;">CheckOut Now</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</ng-container>