<ng-container class="container">
    <mat-card>
        <div class="flexCon">
            <label class="testAlign">Your Bag</label>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <mat-card *ngFor="let list of productList">
                    <div class="row">
                        <div class="col-lg-10">
                            <mat-card>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="layoutRow">
                                            <mat-icon style="float: right; cursor:pointer"
                                                (click)="deleteProduct(list)">delete_outline</mat-icon>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img [src]="list.thumbnail" class="imgRow">
                                                </div>
                                                <div class="col-lg-5 testAlign">
                                                    <p>{{list.title}}</p>
                                                    <p class="">Size 10
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <del>{{list.price}}</del>
                                                            <p class="price">{{list.finalAmt | currency:'USD':'symbol'}}
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <p class="priceDis">{{list.discountPercentage}}%</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card>
                    <label class="orderSum">Order Summary</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="orderSumDetail">Total On MRP</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="orderSumDetail">{{totalAmt | currency:'USD':'symbol'}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="orderSumDetail">Discount On MRP</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="orderSumDetail">{{discountAmt | currency:'USD':'symbol'}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="orderSumDetail">Final Total</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="orderSumDetail">{{totalAmt-discountAmt | currency:'USD':'symbol'}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button mat-stroked-button color="primary" style="margin-left: 6rem;
                            margin-top: 2rem;" (click)="checkOut()">CheckOut Now</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</ng-container>