<nav class="navbar navbar-expand-lg header">
    <ng-container>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="navbar-brand" href="#">ShopIn</a>
                <a class="nav-item nav-link  textColor">Sell On ShopIn</a>
                <a class="nav-item nav-link  textColor" (click)="regiter()">Register</a>
            </div>
            <div class="navbar-nav">
                <input type="search" class="inputSearch icon" [(ngModel)]="searchValue" (keyup)="search($event)"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title"
                        (onSelectionChange)="getVal($event)">
                        {{option?.title}}
                    </mat-option>
                </mat-autocomplete>
                <a class="nav-item nav-link textColor" style="color:#0d0dd9;">Consumer Electronics</a>
            </div>
        </div>
        <div class="collapse navbar-collapse navLeft" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link textColor" *ngIf="isAuth!='true'"> <button mat-stroked-button
                        color="primary" (click)="signIn()">Sign In</button></a>
                <a class="nav-item nav-link textColor" *ngIf="isAuth == 'true'"> <button mat-stroked-button
                        color="primary" (click)="signOut()">Sign Out</button></a>
                <a class="nav-item nav-link navColor"> <button mat-stroked-button color="primary" [matBadge]="watchList"
                        matBadgePosition="after" matBadgeColor="accent" (click)="getWatch()">Watch</button></a>
                <a class="nav-item nav-link textColor"> <button mat-stroked-button color="primary"
                        [matBadge]="cartValue" matBadgePosition="after" matBadgeColor="accent" (click)="getMyCart()">My
                        Cart</button></a>
                <a class="nav-item nav-link textColor">
                    <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>My Profile</button>
                        <button mat-menu-item>My Orders</button>
                        <button mat-menu-item (click)="select('Signature')">Signature</button>
                    </mat-menu>
                </a>
            </div>
        </div>
    </ng-container>
</nav>

<div style="display: flex;justify-content: center;">
    <div style="padding-right: 2rem; border: 1px red;" *ngFor="let data of headerIcons;let i = index"
        (click)="iconActive(data)" (click)="onClickRouter(data.routerLink)" [routerLink]="data.routerLink"
        routerLinkActive="navColorIconActive">
        <div>
            <mat-icon id="icon" class="iconSet" style="height:18px">{{data.icon}}</mat-icon>
        </div>
        <div style="    margin-left: 7px;">
            <label style="margin-left:0px" class="textColor">{{data.icon_name}}</label>
        </div>
        <!-- [ngClass]="data.active?'navColorIconActive':''" -->
    </div>
</div>