<nav class="navbar navbar-expand-lg header">
    <ng-container>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="navbar-brand" href="#">ShopIn</a>
                <a class="nav-item nav-link navColor">Sell On ShopIn</a>
                <a class="nav-item nav-link navColor">Register</a>
            </div>
            <div class="navbar-nav">
                <input class="inputSearch icon" type="search">
                <a class="nav-item nav-link navColor" style="color:#0d0dd9;">Consumer Electronics</a>
            </div>
        </div>
        <div class="collapse navbar-collapse navLeft" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link navColor"> <button mat-stroked-button color="primary" (click)="signIn()">Sign In</button></a>
                <!-- <a class="nav-item nav-link navColor"> <button mat-stroked-button color="primary" [matBadge]="watchList"
                    matBadgePosition="after" matBadgeColor="accent">Watch List</button></a> -->
                <a class="nav-item nav-link navColor"> <button mat-stroked-button color="primary" matBadge="8"
                        matBadgePosition="after" matBadgeColor="accent">My Cart</button></a>
                <a class="nav-item nav-link navColor">
                    <mat-icon>account_circle</mat-icon>
                </a>
            </div>
        </div>
    </ng-container>
</nav>

<div class="container">
    <nav class="navbar navbar-expand-lg header">
        <div class="navbar-nav">
            <a class="nav-item nav-link navColorIcon" *ngFor="let data of headerIcons;let i = index"
                (click)="iconActive(data)"  (click)="onClickRouter(data.routerLink)" [routerLink]="data.routerLink" routerLinkActive="navColorIconActive" >
                <mat-icon id="icon" class="iconSet" style="height:18px">{{data.icon}}</mat-icon>
                <label style="margin-left:12px">{{data.icon_name}}</label>
                <!-- [ngClass]="data.active?'navColorIconActive':''" -->
            </a>
        </div>
    </nav>
</div>