<div class="container">
<mat-card >
    <form [formGroup]="address">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Address1</label>
                    <input type="text" class="form-control" formControlName="address1"
                        [ngClass]="address.controls.address1.touched && address.controls.address1.errors?'inputBroder':''">
                    <div
                        *ngIf="address.controls.address1.touched && address.controls.address1.errors">
                        <p *ngIf="address.controls.address1.errors.required"
                            style="color: red;">Address1 is
                            required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Address2</label>
                    <input type="text" class="form-control" formControlName="address2"
                        [ngClass]="address.controls.address2.touched && address.controls.address2.errors?'inputBroder':''">
                    <div
                        *ngIf="address.controls.address2.touched && address.controls.address2.errors">
                        <p *ngIf="address.controls.address2.errors.required"
                            style="color: red;">Address2 is
                            required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" formControlName="country"
                        [ngClass]="address.controls.country.touched && address.controls.country.errors?'inputBroder':''">
                        <option>india</option>
                    </select>
                    <div
                        *ngIf="address.controls.country.touched && address.controls.country.errors">
                        <p *ngIf="address.controls.country.errors.required"
                            style="color: red;">Country is
                            required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" formControlName="state"
                        [ngClass]=" address.controls.state.touched && address.controls.state.errors?'inputBroder':''">
                        <option>india</option>
                    </select>
                    <div
                        *ngIf="address.controls.state.touched && address.controls.state.errors">
                        <p *ngIf="address.controls.state.errors.required"
                            style="color: red;">State is
                            required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" formControlName="city"
                        [ngClass]="address.controls.city.touched && address.controls.city.errors?'inputBroder':''">
                        <option>india</option>
                    </select>
                    <div
                        *ngIf="address.controls.city.touched && address.controls.city.errors">
                        <p *ngIf="address.controls.city.errors.required" style="color: red;">
                            City is
                            required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Zip Code</label>
                    <select class="form-control" formControlName="zip"
                        [ngClass]="address.controls.zip.touched && address.controls.zip.errors?'inputBroder':''">
                        <option>india</option>
                    </select>
                    <div
                        *ngIf="address.controls.zip.touched && address.controls.zip.errors">
                        <p *ngIf="address.controls.zip.errors.required" style="color: red;">
                            Zip code is
                            required</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-card>
</div>